// Colors
$colorWhite: #fff;
$navColor: #411db7;
$footerColor: #29117a;
$homeIconColor: #007EF7;
$manualIconColor: #00A3B5;
$playIconColor: #00CA9A;

$lightGrayColor: #999;

// Layout
$sidebarWidth: 8rem;