// Colors
$colorWhite: #fff;
$navColor: rgb(70, 68, 70);
$footerColor: darken($navColor, 10);
$aquaColor: #6bbaa7;
$sunshineColor: #fba100;
$crimsonSkyColor: #cf6766;
$lavenderColor: #6c648b;

$lightGrayColor: #999;

// Layout
$sidebarWidth: 7.5rem;
$footerHeight: 5rem;