@keyframes showLevelBox {
  0% {
    top: -90%;
    bottom: 120%;
  }

  35% {
    top: 25%;
    bottom: 20%;
  }

  50% {
    top: 15%;
    bottom: 25%;
  }
}

@keyframes hideLevelBox {
  0% {
    top: 15%;
    bottom: 25%;
  }

  35% {
    top: 25%;
    bottom: 20%;
  }

  50% {
    top: -90%;
    bottom: 120%;
  }

  100% {
    display: none;
    opacity: 0;
  }
}