@keyframes showLevelBox {
  0% {
    top: -90%;
    bottom: 120%;
  }

  35% {
    top: 25%;
    bottom: 20%;
  }

  50% {
    top: 15%;
    bottom: 25%;
  }
}

@keyframes hideLevelBox {
  0% {
    top: 15%;
    bottom: 25%;
  }

  35% {
    top: 25%;
    bottom: 20%;
  }

  50% {
    top: -90%;
    bottom: 120%;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes showMainGameContainer {
  0% {
    left: -100%;
  }

  35% {
    left: 68%;
  }

  50% {
    left: 45%;
  }

  68% {
    left: 50%;
  }
}

@keyframes scaleSuccessArrow {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes showVictoryMessage {
  0% {
    transform: translate(-50%, -50%) rotate(180deg) scale(0);
  }


  100% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);

  }
}

@keyframes emphasizeQuestionMark {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes showManualSection1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes joinSections {
  0% {
    margin: 5rem 0;
  }

  100% {
    margin: 0 0;
  }

}

@keyframes showSuccessMessage {
  0% {
    top: -500px;
  }

  100% {
    top: 0;
  }
}

@keyframes hideSuccessMessage {
  0% {
    top: 0;
  }

  100% {
    top: -500px;
  }
}


