.navigation {
  @include centerItems;
  flex: 1 1 1;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: $sidebarWidth;
  background-color: $navColor;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    background-color: darken($navColor, 15);
    margin: 2rem 0;
    height: 9rem;
    position: relative;
    // When the item is hovered, show tag
    &--home:hover .navigation__tag--home {
      left: 90%;
    }
    &--manual:hover .navigation__tag--manual {
      left: 90%;
    }
    &--play:hover .navigation__tag--play {
      left: 90%;
    }

    // When the item is hovered, change its color
    &--home:hover .navigation__icon--home {
      color: $homeIconColor;
    }
    &--manual:hover .navigation__icon--manual {
      color: $manualIconColor;
    }
    &--play:hover .navigation__icon--play {
      color: $playIconColor;
    }
  }

  &__tag {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    width: 20rem;
    height: 6.5rem;
    font-size: 2.3rem;
    font-weight: 700;
    text-align: center;
    color: $colorWhite;
    border-radius: 6px;
    transition: all .3s;
    left: -200%;
    z-index: -1;

    &--home {
      background-color: $homeIconColor;
    }
    &--manual {
      background-color: $manualIconColor;
    }
    &--play {
      background-color: $playIconColor;
    }
  }

  &__icon {
    font-size: 5rem;
    transition: color .3s;
    // Inactive
    color: $colorWhite;

    &--home--active > *:not(.navigation__tag) {
      color: $homeIconColor;
    }
    &--manual--active > *:not(.navigation__tag) {
      color: $manualIconColor;
    }
    &--play--active > *:not(.navigation__tag) {
      color: $playIconColor;
    }
  }
}

