.navigation {
  @include centerItems;
  flex: 1 1 1;
  z-index: 50;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: $sidebarWidth;
  background-color: $navColor;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    background-color: darken($navColor, 8);
    margin: 2rem 0;
    height: 9rem;
    position: relative;

    // When the item is hovered, show tag
    &--leaderboard:hover .navigation__tag--leaderboard {
      left: 90%;
    }
    &--logout:hover .navigation__tag--logout {
      left: 90%;
    }
    &--manual:hover .navigation__tag--manual {
      left: 90%;
    }
    &--play:hover .navigation__tag--play {
      left: 90%;
    }

    // When the item is hovered, change its color
    &--leaderboard:hover .navigation__icon--leaderboard {
      color: $aquaColor;
    }
    &--logout:hover .navigation__icon--logout {
      color: $lavenderColor;
    }
    &--manual:hover .navigation__icon--manual {
      color: $crimsonSkyColor;
    }
    &--play:hover .navigation__icon--play {
      color: $sunshineColor;
    }
  }

  &__tag {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: absolute;
    width: 20rem;
    height: 6.5rem;
    font-size: 2.3rem;
    font-weight: 700;
    text-align: center;
    color: $colorWhite;
    border-radius: 6px;
    transition: all 0.3s;
    left: -200%;
    z-index: -1;

    &--leaderboard {
      background-color: $aquaColor;
    }
    &--logout {
      background-color: $lavenderColor;
    }
    &--manual {
      background-color: $crimsonSkyColor;
    }
    &--play {
      background-color: $sunshineColor;
    }
  }

  &__icon {
    font-size: 5rem;
    transition: color 0.3s;
    // Inactive
    color: $colorWhite;

    &--leaderboard--active > *:not(.navigation__tag) {
      color: $aquaColor;
    }
    &--logout--active > *:not(.navigation__tag) {
      color: $lavenderColor;
    }
    &--manual--active > *:not(.navigation__tag) {
      color: $crimsonSkyColor;
    }
    &--play--active > *:not(.navigation__tag) {
      color: $sunshineColor;
    }
  }
}
