.game {
  // General
  width: 100%;
  min-height: 93.5vh;
  position: relative;

  // Game Layout
  .levels-box {
    position: absolute;
    z-index: 100;
    animation-duration: 1.5s;

    &--shown {
      top: 15%;
      bottom: 25%;
      animation-name: showLevelBox;
    }

    &--hidden {
      top: -90%;
      bottom: 120%;
      animation-name: hideLevelBox;
      animation-fill-mode: forwards;
    }
  }

  .main-game-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .send-attempt-button {
    display: none;
  }
}



