.game {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 90vh;
  position: relative;

  &__level {
    align-self: center;
  }
}

// Placing components on page
.inputs-box {
  display: flex;
  flex-direction: column;
}

.status-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  &__status {
    position: relative;
  }

  &__value {
    display: block;
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.levels-box {
  position: absolute;
  z-index: 100;
  animation-duration: 1.5s;

  &--shown {
    top: 15%;
    bottom: 25%;
    animation-name: showLevelBox;
  }

  &--hidden {
    top: -90%;
    bottom: 120%;
    animation-name: hideLevelBox;
    animation-fill-mode: forwards;
  }
}