.main-game-container.hard-level-theme {
  background-color: $sunshineColor;

  .status {
    // Corners color
    background-color: $crimsonSkyColor;

    &__error-icon {
      color: $sunshineColor;
    }
  }

  .inputs-box {
    &__digit-input {
      // Input color
      color: $sunshineColor;
    }
  }

  .error-message {
    color: $sunshineColor;
  }

}

.history.hard-level-theme {
  background-color: $sunshineColor;

  .history__digits-guessed {
    background-color: $crimsonSkyColor;
  }

  ul {
    li:not(:last-child) {
      // List item separator color
      border-bottom: 1px solid darken($sunshineColor, 20);
    }
  }

  &::-webkit-scrollbar-track {
    // Scrollbar color
    background: $sunshineColor;
  }
}

.victory-message-box.hard-level-theme {
  .victory-message-box__title {
    background-color: $crimsonSkyColor;
  }

  .victory-message-box__statistics {
    background-color: $sunshineColor;
  }

  .victory-message-box__button {
    background-color: $lavenderColor;
  }

  .victory-message-box__button-title {
    background-color: $aquaColor;
  }
}

.timer.hard-level-theme {
  background-color: $sunshineColor;
}
