.main-game-container.lottery-level-theme {
  background-color: $crimsonSkyColor;

  .status {
    // Corners color
    background-color: $sunshineColor;

    &__error-icon {
      color: $crimsonSkyColor;
    }
  }

  .inputs-box {
    &__digit-input {
      // Input color
      color: $crimsonSkyColor;
    }
  }

  .error-message {
    color: $crimsonSkyColor;
  }

}

.history.lottery-level-theme {
  background-color: $crimsonSkyColor;

  ul {
    li:not(:last-child) {
      // List item separator color
      border-bottom: 1px solid darken($crimsonSkyColor, 20);
    }
  }

  &::-webkit-scrollbar-track {
    // Scrollbar color
    background: $crimsonSkyColor;
  }
}