.main-game-container {
  box-shadow: 16px 19px 31px #a8a8a8;
  width: 60%;
  border-radius: 10px;
  overflow: hidden;

  .status {
    position: absolute;
    width: 10rem;
    font-size: 3.5rem;
    color: $colorWhite;
    z-index: 200;

    &--digits-guessed {
      top: 0;
      bottom: 50%;
      left: 0;
      padding-left: 2rem;
      padding-top: .5rem;
      -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
      clip-path: polygon(0 0, 0% 100%, 100% 0);
    }

    &--placements-guessed {
      top: 50%;
      bottom: 0;
      left: 0;
      padding-top: 5.5rem;
      padding-left: 2rem;
      -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%);
      clip-path: polygon(0 0, 0 100%, 100% 100%);
    }

    &--attempts {
      top: 0;
      bottom: 50%;
      right: 0;
      text-align: right;
      padding-right: 2rem;
      padding-top: .5rem;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%);
    }

    &__validation {
      top: 50%;
      bottom: 0;
      right: 0;
      text-align: right;
      padding-top: 5.5rem;
      padding-right: 1.5rem;
      -webkit-clip-path: polygon(100% 100%, 100% 0, 0 100%);
      clip-path: polygon(100% 100%, 100% 0, 0 100%);

      &--submit {
        cursor: pointer;
        border: none;
      }

      &--submit:focus {
        outline: none;
      }
    }

    &__success-icon {
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-name: scaleSuccessArrow;
    }

    &__error-icon {
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-name: rotateErrorSign;
    }

  }

  .inputs-box {
    display: flex;
    flex-direction: column;
    font-weight: 700;

    &__inputs {
      align-self: center;
      margin: 8rem 0;
    }

    &__digit-input {
      width: 7rem;
      padding: .5rem;
      border-radius: 5px;
      margin-right: 1rem;
      font-size: 4rem;
      text-align: center;
      border: none;
      background-color: $colorWhite;

      &:focus {
        outline: none;
      }
    }
  }

  .error-message {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 20;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 1rem;
    font-size: 2rem;
    background-color: $colorWhite;
    transition: all .4s linear;
    height: 50px;

    &--active {
      bottom: 0;
    }

    &--inactive {
      bottom: -100px;
    }
  }
}