.timer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  width: 15%;
  height: 7rem;
  border-bottom-left-radius: 10px;
  color: $colorWhite;
  font-weight: 700;
  font-size: 2rem;

  &__icon {
    font-size: 3.5rem;
    position: absolute;
    left: 25px;
  }

}